PORT=5000
MONGODB_URI=mongodb+srv://username:password@cluster0.example.mongodb.net/bloodconnect?retryWrites=true&w=majority
JWT_SECRET=supersecretkeychangeinproduction
CLIENT_URL=http://localhost:5173

# SMTP Nodemailer configs
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your-email@gmail.com
SMTP_PASS=your-gmail-app-password
